<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>33747508669-h1h2dov01ovdo4l91ur2uq176d9siffo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.33747508669-h1h2dov01ovdo4l91ur2uq176d9siffo</string>
	<key>API_KEY</key>
	<string>AIzaSyAapbBBH_Nr7GdU65g7b5skYgkgWJE-1HE</string>
	<key>GCM_SENDER_ID</key>
	<string>33747508669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.ios.Summar</string>
	<key>PROJECT_ID</key>
	<string>summar-924e4</string>
	<key>STORAGE_BUCKET</key>
	<string>summar-924e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:33747508669:ios:7cddc0e78e5819762ec6d4</string>
</dict>
</plist>
